.footer {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Makes columns stack on small screens */
  width: 80%;
  margin: 0 auto;
}

.footer-column {
  flex: 1; /* Makes columns even width on larger screens */
  padding: 10px;
  text-align: left;
  /* Additional styles for responsiveness */
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
  .footer-column {
    flex: unset; /* Removes even width on smaller screens */
    width: 100%; /* Columns take full width */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-column {
    /* Adjust column width for medium screens (optional) */
    width: 50%;
  }
}
